body {
  font-family: Cinzel, Arial;
  color: rgb(33, 33, 33);
  margin: 0;
  font-size: 18px;
}

p {
  margin: 0;
}

button {
  font-size: 14px;
  cursor: pointer;
}

input {
  font-family: Cinzel, Arial;
}