.charcter-card-page {
    width: 100%;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.character-card-container {
    background-color: grey;
    display: flex;
    flex: 1;
    max-width: 60%;
    padding: 20px;
    flex-direction: column;

    margin-top: 60px;
}