.characters-page {
  width: 100%;
  max-width: calc(5 * 300px + 4 * 2rem);
  margin: 100px auto;
  padding: 0 2rem;
}

.charater-cards-grid {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center; 
}

.create-character-btn {
  position: absolute;
  top: 100px;
  right: 40px;
  font-size: 0.8rem;
  font-weight: 800;
}

.confirm-btn {
  position: absolute;
  top: 100px;
  right: 140px;
  padding: 0.65rem 1rem;
}
