.character-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: gray;
    
}

.character-link {
    text-decoration: none;
}

.character-card p{
    
    color: white;
}