.character-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 1.5rem 0 1.5rem;
  background-color: var(--color-bg);
  border-radius: 14px;
  border: 2px solid var(--color-border);
  transition: 0.5s ease;
  z-index: 2;
}

.character-card:hover {
  scale: 1.02;
  transition: 0.5s ease;
  filter: brightness(1.08);
  box-shadow: 0 0 16px rgba(248, 141, 0, 0.75);
  text-shadow: 0 0 8px rgba(214, 139, 0, 0.8);
}

.select:hover {
  scale: 1;
  filter: brightness(1);
  box-shadow: none;
  text-shadow: 0 0 0;
}

.character-link,
.character-link:visited,
.character-link:hover,
.character-link:active {
  text-decoration: none;
  color: inherit;
}

.character-card p {
  color: var(--color-text);
  text-align: center;
  font-size: 1.7rem;
  text-decoration: none;
  margin-bottom: 36px;
}

.character-image-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  overflow: hidden;
  border: 3px solid rgba(176, 141, 87, 0.9);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
  flex-shrink: 0;
}

.character-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character-checkbox-wrapper {
  position: absolute; /* ZAMIANA z relative */
  bottom: 10px; /* zamiast bottom/right kombinowanych */
  left: 10px;
  cursor: pointer;
}

.character-select-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.character-checkbox-custom {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid rgb(176, 140, 87);
  background: #070709;
  box-sizing: border-box;
  display: flex; /* ładne centrowanie ptaszka */
  align-items: center;
  justify-content: center;
}

/* zaznaczony */
.character-select-checkbox:checked + .character-checkbox-custom {
  background: rgb(176, 140, 87);
}

.character-select-checkbox:checked + .character-checkbox-custom::after {
  content: "✔";
  font-size: 14px;
  color: var(--color-text);
  line-height: 1;
}
