.campaigns-page {
  width: 100%;
  max-width: calc(5 * 300px + 4 * 2rem);
  margin: 100px auto;
  padding: 0 2rem;
}

.campaign-cards-grid {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center; 
}

.create-campaign-btn{
  position: absolute;
  top: 100px;
  right: 40px;
  font-size: 0.8rem;
  font-weight: 800;
}

.new-campaign-form{
  display: flex;
  gap: 6px;
  position: absolute;
  top: 100px;
  right: 40px;
}

.create-btn {
  padding: 0.5rem 0.9rem;
  font-size: 0.9rem;
}
.campaign-name-input{

}
