.campaign-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: gray;
    
}

.campaign-link {
    text-decoration: none;
}

.campaign-card p{
    
    color: white;
}

.campaign-image {
    width: 160px;
}