.create-campaign-page{
   position: relative;
  width: min(500px, 100%);
  min-height: 0;
  margin-top: 60px;
  padding: 3rem 3.5rem;
  background: rgba(10, 10, 12, 0.92);
  border-radius: 14px;
  border: 1px solid rgba(176, 140, 87, 0.719);
  box-shadow: 0 24px 50px rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(4px);
  z-index: 2;
}

.campaign-picture-container, .input-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-buttons {
  justify-content: space-between;
  gap: 20px;
}

.input-buttons input {
  width: 300px;
}

.buttons {
  display: flex
}
