.GM-panel {
  position: absolute;
  top: 200px;
  left: -60px;
  z-index: 10;
  display: flex;
  gap: 8px;
  align-items: center;
  background: rgba(255, 255, 255);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  overflow: visible;
  transform: translateX(-120px);

  transition: transform 0.26s ease, opacity 0.26s ease;
}

.GM-panel.open {
  transform: translateX(60px);
  opacity: 1;
  transition: transform 0.26s ease, opacity 0.26s ease;
}

.GM-panel-tools {
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.GM-panel-tools.open {
  opacity: 1;
  pointer-events: auto;
}
