.register-page-wrapper {
   position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background:
    radial-gradient(circle at top, #1b1b1f 0, #050608 55%),
    #000;
  overflow: hidden;
}



.register-page {
  position: relative;
  width: min(500px, 100%);
  min-height: max(550px, 100%);              
  margin-top: 60px;
  padding: 0.2rem 1.8rem;
  background: rgba(10, 10, 12, 0.92);
  border-radius: 14px;
  border: 1px solid rgba(176, 140, 87, 0.719);
  box-shadow: 0 24px 50px rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(4px);
  z-index: 2;                 
}

.register-form-content{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

 
}

.top-text {
  font-family: var(--font-heading);
  color: var(--color-text);
  font-size: 2.5rem;
  font-weight: 500;
}

.register-form {
  height: 350px;
  width: 325px;
  margin: 1rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.register-input {
  width: max(325px, 100%);
}

.register-button {
  width: 200px;
  font-family: var(--font-heading);
  font-weight: 700;
}

.password-wrapper {
  position: relative;
  width: 100%;
}
.eye-btn {
  position: absolute;
  right: 0.2rem;
  top: 59%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: #c0b59a;
}

.eye-icon {
  width: 15px;
  height: 15px;
  pointer-events: none;
}