.register-page {
  width: 100%;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form-container {
  height: 300px;
  width: 200px;
  background-color: grey;
  padding: 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-top: 60px;
}

.register-form {
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}