*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /*background: radial-gradient(circle at top, #2b1b10, #060606);*/
  color: var(--color-text);
  font-family: var(--font-body);
}

/* Linki */
a {
  color: var(--color-accent);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
