.character-link,
.character-link:visited,
.character-link:hover,
.character-link:active {
  text-decoration: none;
  color: inherit;
}

.character-link {
  display: block;
  width: var(--card-width, 280px);
  max-width: 100%;
  text-decoration: none;
  color: inherit;
}



.character-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;

  width: 100%;
  height: var(--card-height, 380px);
  box-sizing: border-box;

  padding: 2.5rem 1.5rem 0 1.5rem;
  background-color: var(--color-bg);
  border-radius: 14px;
  border: 2px solid var(--color-border);
  transition: 0.5s ease;
  z-index: 2;
}

.character-card:hover {
  scale: 1.02;
  transition: 0.5s ease;
  filter: brightness(1.08);
  box-shadow: 0 0 16px rgba(248, 141, 0, 0.75);
  text-shadow: 0 0 8px rgba(214, 139, 0, 0.8);
}

.select:hover {
  scale: 1;
  filter: brightness(1);
  box-shadow: none;
  text-shadow: 0 0 0;
}

.character-image-wrapper {
  width: var(--img-size, 200px);
  height: var(--img-size, 200px);
  border-radius: 10%;
  overflow: hidden;
  border: 3px solid rgba(176, 141, 87, 0.9);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
  flex-shrink: 0;
}

.character-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character-checkbox-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

.character-select-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.character-checkbox-custom {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid rgb(176, 140, 87);
  background: #070709;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-select-checkbox:checked + .character-checkbox-custom {
  background: rgb(176, 140, 87);
}

.character-select-checkbox:checked + .character-checkbox-custom::after {
  content: "✔";
  font-size: 14px;
  color: var(--color-text);
  line-height: 1;
}

.character-name {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;

  width: 100%;
  text-align: center;
  font-family: var(--font-heading);
  color: var(--color-text);

  line-height: 1.15;

  min-height: 2.6em;
  max-height: 3.6em;

  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;

  display: flex;
  align-items: center;
  justify-content: center;
}

.character-name.name-sm {
  font-size: calc(1.7rem * var(--name-scale, 1));
}
.character-name.name-md {
  font-size: calc(1.5rem * var(--name-scale, 1));
}
.character-name.name-lg {
  font-size: calc(1.3rem * var(--name-scale, 1));
}
.character-name.name-xl {
  font-size: calc(1.15rem * var(--name-scale, 1));
}
